
# LLM Configuration
LLM_API_KEY=your_api_key
MODEL_NAME=gpt-oss-120b # any model inside that provider is compatible
PROVIDER=cerebras # any available provider on litellm is compatible


# Serper API Key (for web search tool)
# Get yours at: https://serper.dev
SERPER_API_KEY=your_serper_api_key_here